@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.loader {
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
}

.loader::after {
  content: '\2026';
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  animation: dots steps(4, end) 2s infinite;
  width: 0px;
}

@keyframes dots {
  to {
    width: 1.25em;
  }
}
